<div fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="80">
    <h1 fxLayoutAlign="center">{{farmTitle$ | async}}</h1>

    <div fxLayoutAlign="space-between">
      <span fxLayoutAlign=" center" fxFlex="30">
        <button
          mat-raised-button
          (click)="router.navigate(['./farms'])"
        >
          <mat-icon>arrow_back</mat-icon><span>Farms</span>
        </button>
      </span>
      <app-date-range-input [formGroup]="formGroup"></app-date-range-input>
      <span fxLayoutAlign=" center" fxFlex="30" dir="rtl">
        <app-button-toggle
          [buttons]="toggleButtons"
          [initialButton]="toggleButtons[0]"
          (change)="buttonClick$.next($event)"
        ></app-button-toggle>
      </span>
    </div>

    <div fxLayoutAlign="center" fxLayout="column">
      <app-chart-legend></app-chart-legend>
      <app-line-chart
        *ngIf="(capacityFactorData$|async)"
        [yDataLabel]="yDataLabel"
        fxFlex
        [yMax]="yMax"
        [yMin]="0"
        [chartDataSets]="farmCapacityFactorValues$ | async"
        [pointLabels]="farmCapacityFactorLabels$ | async"
        [pointColours]="farmCapacityFactorPointColours$ | async"
      ></app-line-chart>
    </div>
  </div>
</div>
